<!-- <p [style]="titleStyle1">green red title</p>
<button (click)="red()">red</button>
<button (click)="green()">green</button>
<br>
<p [style.display]="titleStyle2">show and hide title</p>
<button (click)="show()">show</button>
<button (click)="hide()">hide</button>
<p>{{number}}</p>
<button (click)="increment()">icrement</button>
<button (click)="decrement()">decrement</button>

<p> My name is : {{profile.firstName}} {{profile.lastName}}</p>
<input type="text" [(ngModel)]="profile.firstName">
<input type="text" [(ngModel)]="profile.lastName"> -->
<!-- <p>My Website : {{profile.website}}</p>
<p>My Country : {{profile.country}}</p>
<p>my Age : {{profile.age}}</p>
<img [src]="imageLink">
<br>
<a [href]="link">click me</a> -->
<!-- <input [(ngModel)]="profile.firstName" >
<button class="btn btn-primary" (click)="gotoview()">View Profile</button>
<button class="btn btn-success" (click)="gotodetails()">details Profile</button> -->
<!-- <form #f="ngForm" (ngSubmit)="save(f)">
    <input placeholder="firstname" type="text" #firstname="ngModel" name="firstname" ngModel required minlength="10"><br>
    <div class="alert alert-danger" *ngIf="firstname.errors?.['required']&&firstname.touched">fisrt name is reqiured</div>
    <div class="alert alert-danger" *ngIf="firstname.errors?.['minlength']&&firstname.touched">minlength invalid</div>
    <input placeholder="lastName" type="text" name="lastName"ngModel><br>
    <input placeholder="age" type="number" name="age"ngModel><br>
     <textarea name="area"ngModel></textarea><br>
    <input  type="checkbox"  name="firstcheck"ngModel>firstcheck<br>
    <input type="checkbox"  name="lastcheck"ngModel>lastcheck<br> 
    
    <button type="submit" [disabled]="f.invalid">Save</button>
</form> -->

<form [formGroup]="myform" (ngSubmit)="save()">
    <input placeholder="firstname" type="text"  name="firstname" formControlName="fname"><br>
    <input placeholder="lastName" type="text" name="lastName" formControlName="lname"><br>
    <button type="submit" >Save</button>

</form>

