<p [style]="titleStyle1">green red title</p>
<button (click)="red()">red</button>
<button (click)="green()">green</button>
<br>
<p [style.display]="titleStyle2">show and hide title</p>
<button (click)="show()">show</button>
<button (click)="hide()">hide</button>
<p>{{number}}</p>
<button (click)="increment()">icrement</button>
<button (click)="decrement()">decrement</button>

<p> My name is : {{profile.firstName}} {{profile.lastName}}</p>
<!-- <p>My Website : {{profile.website}}</p>
<p>My Country : {{profile.country}}</p>
<p>my Age : {{profile.age}}</p>
<img [src]="imageLink">
<br>
<a [href]="link">click me</a> -->

<input type="text" [(ngModel)]="profile.firstName">
<input type="text" [(ngModel)]="profile.lastName">
